In [222]:
import pandas as pd
import numpy as np

In [223]:
filename1 = "FallDataExport2"
filename2 = "exported_data_4"

In [224]:
df1 = pd.read_csv('../DataFile/' + filename1 + '.csv')

C:\Users\sweea\AppData\Local\Temp\ipykernel_9988\694431479.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('../DataFile/' + filename1 + '.csv')

In [225]:
if 'level_0' in df1.columns:
    df1.drop(columns=['level_0'], inplace=True) # drop columns with NaN values and gibberish
if 'Unnamed: 0' in df1.columns:
    df1.drop(columns=['Unnamed: 0'], inplace=True) # drop columns with NaN values and gibberish
df1.head()

,id,accX,accY,accZ,gyroX,gyroY,gyroZ,timestamp,Norm,label
0,6b393ca2-844c-498a-a0e8-c8e6c3f94d68,0.05,0.7,-0.72,NaN,NaN,NaN,2024-03-22 14:50:49.022,1.005435,NaN
1,1c83c450-d535-4a8b-a697-f69ba3f5b0e9,0.05,0.7,-0.72,NaN,NaN,NaN,2024-03-22 14:50:49.055,1.005435,NaN
2,3d0aef95-c895-442b-9942-9d41453b332e,0.05,0.7,-0.72,NaN,NaN,NaN,2024-03-22 14:50:49.056,1.005435,NaN
3,b6bd77ea-2617-4306-8816-f89ecccb9e05,0.05,0.7,-0.72,NaN,NaN,NaN,2024-03-22 14:50:49.057,1.005435,NaN
4,61c1b524-8435-464b-857a-06a1719c08d9,0.05,0.7,-0.72,NaN,NaN,NaN,2024-03-22 14:50:49.101,1.005435,NaN

In [226]:
if not 'Norm' in df1.columns:
    df1['Norm'] = np.sqrt(df1['accX']**2+df1['accY']**2+df1['accZ']**2)
    df1 = df1.sort_values(by=['timestamp'])
df1 = df1.reset_index()
df1 = df1.reset_index()
# df1['label'] = 0
df1.head()

,level_0,index,id,accX,accY,accZ,gyroX,gyroY,gyroZ,timestamp,Norm,label
0,0,0,6b393ca2-844c-498a-a0e8-c8e6c3f94d68,0.05,0.7,-0.72,NaN,NaN,NaN,2024-03-22 14:50:49.022,1.005435,NaN
1,1,1,1c83c450-d535-4a8b-a697-f69ba3f5b0e9,0.05,0.7,-0.72,NaN,NaN,NaN,2024-03-22 14:50:49.055,1.005435,NaN
2,2,2,3d0aef95-c895-442b-9942-9d41453b332e,0.05,0.7,-0.72,NaN,NaN,NaN,2024-03-22 14:50:49.056,1.005435,NaN
3,3,3,b6bd77ea-2617-4306-8816-f89ecccb9e05,0.05,0.7,-0.72,NaN,NaN,NaN,2024-03-22 14:50:49.057,1.005435,NaN
4,4,4,61c1b524-8435-464b-857a-06a1719c08d9,0.05,0.7,-0.72,NaN,NaN,NaN,2024-03-22 14:50:49.101,1.005435,NaN

In [227]:
df1 = df1.drop(['index'], axis=1)
df1.head()

,level_0,id,accX,accY,accZ,gyroX,gyroY,gyroZ,timestamp,Norm,label
0,0,6b393ca2-844c-498a-a0e8-c8e6c3f94d68,0.05,0.7,-0.72,NaN,NaN,NaN,2024-03-22 14:50:49.022,1.005435,NaN
1,1,1c83c450-d535-4a8b-a697-f69ba3f5b0e9,0.05,0.7,-0.72,NaN,NaN,NaN,2024-03-22 14:50:49.055,1.005435,NaN
2,2,3d0aef95-c895-442b-9942-9d41453b332e,0.05,0.7,-0.72,NaN,NaN,NaN,2024-03-22 14:50:49.056,1.005435,NaN
3,3,b6bd77ea-2617-4306-8816-f89ecccb9e05,0.05,0.7,-0.72,NaN,NaN,NaN,2024-03-22 14:50:49.057,1.005435,NaN
4,4,61c1b524-8435-464b-857a-06a1719c08d9,0.05,0.7,-0.72,NaN,NaN,NaN,2024-03-22 14:50:49.101,1.005435,NaN

In [228]:
# df0 = pd.read_csv('combined_export_v2.csv')
df0 = pd.read_csv('../DataFile/' + filename2 + '.csv')
if 'level_0' in df0.columns:
    df0.drop(columns=['level_0'], inplace=True) # drop columns with NaN values and gibberish
if 'index' in df0.columns:
    df0.drop(columns=['index'], inplace=True) # drop columns with NaN values and gibberish
if 'Unnamed: 0' in df0.columns:
    df0.drop(columns=['Unnamed: 0'], inplace=True) # drop columns with NaN values and gibberish
if 'Unnamed: 0.1' in df0.columns:
    df0.drop(columns=['Unnamed: 0.1'], inplace=True) # drop columns with NaN values and gibberish
if not 'Norm' in df0.columns:
    df0['Norm'] = np.sqrt(df0['accX']**2+df0['accY']**2+df0['accZ']**2)
    df0 = df0.sort_values(by=['timestamp'])
# df0 = df0.reset_index()
# df0 = df0.reset_index()
display(df0)
df3 = pd.concat([df1,df0])
if 'level_0' in df3.columns:
    df3.drop(columns=['level_0'], inplace=True) # drop columns with NaN values and gibberish
if 'index' in df3.columns:
    df3.drop(columns=['index'], inplace=True) # drop columns with NaN values and gibberish
df3 = df3.reset_index()
df3.drop(columns=['index'], inplace=True)

display(df3)

,id,accX,accY,accZ,gyroX,gyroY,gyroZ,timestamp,Norm
8813,1db34695-99a8-4aca-ad03-e0b9d11e9ec2,-0.01,0.98,-0.04,NaN,NaN,NaN,2024-03-22 15:39:38.807,0.980867
124,005e5423-d34a-45e3-81ab-c89d946d7e35,-0.02,0.99,-0.04,NaN,NaN,NaN,2024-03-22 15:39:38.842,0.991010
31095,69765791-470c-4734-a49c-04807849e0be,-0.01,1.01,-0.04,NaN,NaN,NaN,2024-03-22 15:39:38.843,1.010841
43444,93d60120-73dc-43e1-8fd5-a0f2c3c1c695,0.00,1.02,-0.03,NaN,NaN,NaN,2024-03-22 15:39:38.844,1.020441
62587,d5197d95-f1fa-4b9a-ac7a-8a1381334ce9,0.02,1.06,-0.03,NaN,NaN,NaN,2024-03-22 15:39:38.882,1.060613
...,...,...,...,...,...,...,...,...,...
62697,d57d4481-9eaa-4497-ad64-458099b40ea1,0.85,-0.38,0.23,NaN,NaN,NaN,2024-03-22 15:59:02.460,0.959062
53067,b46c082b-99a0-4f0b-bee9-bb4d202b05dd,0.89,-0.37,0.25,NaN,NaN,NaN,2024-03-22 15:59:02.505,0.995741
9732,20cc5dd3-d512-4851-87c6-2587bbb811f9,0.93,-0.36,0.25,NaN,NaN,NaN,2024-03-22 15:59:02.509,1.028105
24273,5238f618-8244-4d33-b9b7-68e1b3c68c32,0.98,-0.36,0.23,NaN,NaN,NaN,2024-03-22 15:59:02.513,1.069065
31743,6b9c1a1a-0385-487a-a107-72108235c799,1.00,-0.27,0.21,NaN,NaN,NaN,2024-03-22 15:59:02.544,1.056882

,id,accX,accY,accZ,gyroX,gyroY,gyroZ,timestamp,Norm,label
0,6b393ca2-844c-498a-a0e8-c8e6c3f94d68,0.05,0.70,-0.72,NaN,NaN,NaN,2024-03-22 14:50:49.022,1.005435,NaN
1,1c83c450-d535-4a8b-a697-f69ba3f5b0e9,0.05,0.70,-0.72,NaN,NaN,NaN,2024-03-22 14:50:49.055,1.005435,NaN
2,3d0aef95-c895-442b-9942-9d41453b332e,0.05,0.70,-0.72,NaN,NaN,NaN,2024-03-22 14:50:49.056,1.005435,NaN
3,b6bd77ea-2617-4306-8816-f89ecccb9e05,0.05,0.70,-0.72,NaN,NaN,NaN,2024-03-22 14:50:49.057,1.005435,NaN
4,61c1b524-8435-464b-857a-06a1719c08d9,0.05,0.70,-0.72,NaN,NaN,NaN,2024-03-22 14:50:49.101,1.005435,NaN
...,...,...,...,...,...,...,...,...,...,...
167730,d57d4481-9eaa-4497-ad64-458099b40ea1,0.85,-0.38,0.23,NaN,NaN,NaN,2024-03-22 15:59:02.460,0.959062,NaN
167731,b46c082b-99a0-4f0b-bee9-bb4d202b05dd,0.89,-0.37,0.25,NaN,NaN,NaN,2024-03-22 15:59:02.505,0.995741,NaN
167732,20cc5dd3-d512-4851-87c6-2587bbb811f9,0.93,-0.36,0.25,NaN,NaN,NaN,2024-03-22 15:59:02.509,1.028105,NaN
167733,5238f618-8244-4d33-b9b7-68e1b3c68c32,0.98,-0.36,0.23,NaN,NaN,NaN,2024-03-22 15:59:02.513,1.069065,NaN
167734,6b9c1a1a-0385-487a-a107-72108235c799,1.00,-0.27,0.21,NaN,NaN,NaN,2024-03-22 15:59:02.544,1.056882,NaN

In [229]:
import os

os.chdir("../DataFile/")
print(os.getcwd())

count = 0
for path in os.scandir(os.getcwd()):
    if path.is_file() and path.name.endswith('.csv'):
        if 'FallDataExport' in path.name:
            count+=1
count+=1
newPath = '../DataFile/FallDataExport' + str(count) + '.csv'
df3.to_csv(newPath)

d:\[02] PC Files\[01] Project Files\[03] Github\Personal-Alarm-Device\MLFallingDetection\DataFile